@let state = stateService.isExpanded$ | async;

<div class="expand-panel" [class.expanded]="state">
    @if (state) {
    <div class="p-5 grid grid-cols-3 gap-8 border-t border-white/5 mt-2">
        <div class="space-y-3">
            <label class="text-[10px] uppercase text-slate-500 font-black">網格密度</label>
            <div class="control-group flex items-center w-fit rounded-xl p-1 text-white bg-black/20">
                <p-button icon="pi pi-minus" [text]="true" [disabled]="!canDecrease" (click)="changeDensity(-1)"
                    styleClass="!w-8 !h-8 !text-white"></p-button>
                <div class="px-4 text-sm font-mono font-bold">{{ gridDensity }}</div>
                <p-button icon="pi pi-plus" [text]="true" [disabled]="!canIncrease" (click)="changeDensity(1)"
                    styleClass="!w-8 !h-8 !text-white"></p-button>
            </div>
        </div>
        <div class="flex flex-col gap-2">
            <label class="text-[10px] uppercase text-slate-500 font-bold">狀態</label>
            <div class="flex gap-2">
                <p-tag severity="success" value="已完結"
                    [style]="{'background': 'rgba(34,197,94,0.2)', 'color': '#4ade80'}"></p-tag>
                <p-tag severity="warn" value="連載中"
                    [style]="{'background': 'rgba(245,158,11,0.2)', 'color': '#fbbf24'}"></p-tag>
            </div>
        </div>

        <div class="flex flex-col gap-2">
            <label class="text-[10px] uppercase text-slate-500 font-bold">管理操作</label>
            <p-button label="批量刪除" icon="pi pi-trash" severity="danger" [outlined]="true"
                styleClass="!py-1.5 !text-xs !font-bold w-full !border-red-500/20 !bg-red-500/10 hover:!bg-red-500/20"></p-button>
        </div>
    </div>
    }
</div>