DATABASE_URL=postgresql://akigumo:akigumo@postgres:5432/akigumo

REDIS_URL=redis://redis:6379
REDIS_CACHE_URL=redis://redis-cache:6379

NEO4J_URL=bolt://neo4j:7687
NEO4J_USERNAME=neo4j
NEO4J_PASSWORD=password