@let isCollapsed = layoutDataService.isSidebarCollapsed$ | async;
@let activeItem = layoutDataService.activeItem$ | async;
@let theme = layoutDataService.theme;
@let processedCount = processedCount$ | async;
@let pendingCount = pendingCount$ | async;

<div>
    <button id="upload-trigger" type="button"
        class="mx-3 mb-1 flex items-center p-3 rounded-lg cursor-pointer transition-all group relative bg-white shadow-sm hover:shadow-md border border-gray-100 text-gray-700 active:scale-95"
        [class.justify-center]="isCollapsed">
        <span class="material-icons group-hover:scale-110 transition-transform text-blue-500">add</span>
        @if (!isCollapsed) {
        <span class="ml-4 text-sm font-bold tracking-tight">新增檔案</span>
        }
    </button>

    @for (item of layoutDataService.menuItems; track item.label) {
    <div (click)="navByActiveItem(item)"
        class="mx-3 mb-1 flex items-center p-3 rounded-lg cursor-pointer transition-all group relative"
        [style.backgroundColor]="activeItem?.label === item.label ? theme.primary : 'transparent'"
        [style.color]="activeItem?.label === item.label ? theme.pureWhite : 'rgba(255,255,255,0.6)'"
        [class.justify-center]="isCollapsed">
        <span class="material-icons group-hover:scale-110 transition-transform">{{ item.icon }}</span>
        @if (!isCollapsed) {
        <span class="ml-4 text-sm font-bold tracking-tight">{{ item.label }}</span>
        @if (item.type === 'pending') {
        <span class="ml-auto text-xs font-mono opacity-70">
            ({{ processedCount }} | {{ pendingCount }})
        </span>
        }
        }
    </div>
    }
</div>